<div class="user-dash-info pull-left">
  <% if current_user.invites.count > 0 %>
    <button type="button" class="btn btn-primary btn-lg active logout-button">
      <%= link_to "Invites: #{current_user.invites.count}", '/group/invites', class:"logout" %>
    </button>
  <% end %>
  <% if !spotify_user %>
    <button type="button" class="btn btn-primary btn-lg active blue-button">
      <%= image_tag 'http://www.tunecore.com/images/music_stores/spotify_logo.png', class: "img-circle user-img" %>
      <%= link_to 'Login to Spotify', '/auth/spotify', class:"logout" %>
    </button>
  <% end %>
</div>

<div class="user-dash-info pull-right">
  <button type="button" class="btn btn-primary btn-lg active blue-button">
    <%= image_tag current_user.image, class: "img-circle user-img" %>

    <%= link_to 'Logout', logout_path, method: :delete, class:"logout", role:'button' %>
  </button>
</div>

<div class="col-md-10 col-md-offset-1 home-stats">
<h1 class="main-content">playlists of the week:</h1>
<div class="suggest-divide">
</div>
<div class="col-md-6 main-content-secondary"><h1>top playlist of the week:</h1></div>
<div class="col-md-6 main-content-secondary"><h1>recomended for you:</h1></div>
<div class="col-md-6 bord-right"></div>
<div class="col-md-6 bord-left"></div>
</div>
