
    <h1>Create Personal Playlist</h1>

  <%= simple_form_for :post, url: playlists_path, method: :post do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :description %>
    <%= f.text_field :description %>
    <br><br>

    <%= f.label :service %>
    <%= f.collection_select :platform_id, Platform.all, :id, :name  %>
    <br><br>

    <%= f.input :genre, collection: Echowrap.artist_list_genres.map {|genre| genre.attrs[:name]} %>
    <br><br>
    <%= f.submit "Create Playlist", class:"btn btn-primary btn-lg active logout-button" %>
  <% end %>
