<div class="fluid-container">
  <div class="panel">
    <!-- Default panel contents -->
    <%= link_to "Remove Playlist", personal_playlist_path(@playlist), method: :delete, :data => { :confirm => "This will prevent this playlist from being updated! This will not remove the playlist from your service."}, class:"btn btn-primary btn-lg blue-button remove" %>
    <div class="panel-heading"><h2><%= @playlist.name %></h2></div>
    <div class="panel-body">
      <p><h4><%= @playlist.description %></h4></p>
    </div>

    <!-- Table -->
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th></th>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th></th>
      </tr>
      <% count = 0 %>
      <% @playlist.songs.each do |song| %>
      <% count += 1 %>
      <tr>
        <td><%= count %></td>
        <% cache('album-image') do %>
        <td><%= image_tag song.image, class:"img-circle" %></td>
        <% end %>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td>
          <a href="<%= song.link %>" class="provider"><%= image_tag 'spotify_button' %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
